
[Desktop Entry]
Encoding=UTF-8
Name=Mozilla Thunderbird Mail/News
Comment=Read/Write Mail/News with Mozilla Thunderbird
GenericName=Mail Client
Exec=thunderbird %u
Terminal=false
X-MultipleArgs=false
Type=Application
Icon=thunderbird
Categories=Application;Network;Email;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;
StartupWMClass=Thunderbird
StartupNotify=true
Name[es]=Cliente de correo y noticias Thunderbird
Name[cs]=Poštovní klient Thunderbird
Name[ca]=Client de correu Thunderbird
Name[fi]=Thunderbird-sähköposti
Name[fr]=Messagerie Thunderbird
Name[gl]=Cliente de correo Thunderbird
Name[hr]=Mozilla Thunderbird e-pošta/novosti
Name[hu]=Thunderbird levelezőkliens
Name[pl]=Klient poczty Thunderbird
Name[pt_BR]=Cliente de E-mail Thunderbird
Name[sk]=Thunderbird - poštový klient a novin
Name[sv]=E-postklienten Thunderbird
Name[ru]=Почтовый клиент Thunderbird
Name[ug]=Mozilla Thunderbird ئېلخەت/خەۋەر
Name[zh_CN]=Mozilla Thunderbird 邮件/新闻
Name[zh_TW]=Mozilla Thunderbird 郵件
Comment[es]=Lea y escriba correos y noticias con Mozilla Thunderbird
Comment[ca]=Llegiu i escriviu correu
Comment[cs]=Čtení a psaní pošty
Comment[de]=Emails lesen und verfassen
Comment[fi]=Lue ja kirjoita sähköposteja
Comment[fr]=Lire et écrire des courriels
Comment[gl]=Lea e escriba correo electrónico
Comment[hr]=Čitajte/šaljite e-poštu s Mozillom Thunderbird
Comment[hu]=Levelek írása és olvasása a Thunderbirddel
Comment[it]=Leggere e scrivere email
Comment[ja]=メールの読み書き
Comment[pl]=Czytanie i wysyłanie e-maili
Comment[pt_BR]=Ler e escrever suas mensagens
Comment[sk]=Čítajte a píšte poštu, čítajte novinky pomocou programu Mozilla Thunderbird
Comment[sv]=Läs och skriv e-post
Comment[ru]=Читайте и пишите письма
Comment[ug]=ئېلخەت ۋە خەۋەرلەرنى Mozilla Thunderbird دا كۆرۈش ۋە يېزىش
Comment[zh_CN]=阅读邮件或新闻
Comment[zh_TW]=以 Mozilla Thunderbird 讀寫郵件或新聞
GenericName[ca]=Client de correu
GenericName[de]=E-Mail-Client
GenericName[fr]=Client de messagerie
GenericName[gl]=Cliente de correo electrónico
GenericName[hr]=Klijent e-pošte
GenericName[hu]=Levelezőkliens
GenericName[ru]=Почтовый клиент
GenericName[sk]=Poštový klie
GenericName[ug]=ئېلخەت دېتالى
GenericName[zh_CN]=邮件新闻客户端
GenericName[zh_TW]=郵件用戶端
X-GNOME-Autostart-enabled=false
